.formContainer {
  width: 675px;
  height: 900px;
  background-image: url("../../public/test-form.jpg");
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 80px;
  border-radius: 20px;
}

.formContainerFull {
  width: 100%;
  height: 640px;
  background-image: url("../../public/test-form.jpg");
  background-size: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  margin-top: 80px;
  justify-content: space-around;
  align-items: center;
  gap: 80px;
}

.formFull {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 20px;
}

.text {
  color: var(--font-white);
  text-align: center;
}

.text h1 {
  font-size: 60px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "FiraGo Bold";
}

.text h2 {
  font-size: 24px;
  letter-spacing: 1.2px;
  line-height: 1.3;
}

.formContainer form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 20px;
}

.formContainer form input {
  width: 400px;
  height: 80px;
  padding: 30px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.formContainerFull form input {
  width: 400px;
  height: 80px;
  padding: 30px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.subscribeButton {
  font-size: 18px;
  width: 260px;
  height: 60px;
  color: var(--font-white);
  letter-spacing: 0.9px;
  border: none;
  outline: none;
  background-color: var(--main-green);
  text-align: center;
  padding: 18px 74px;
  border-radius: 20px;
  margin-top: 40px;
  cursor: pointer;
}
