.container {
  height: 668px;
  width: 398px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 60px 10px 40px;
  border-radius: 20px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.paragraph {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-top: 40px;
}
