.container {
  transition: all 0.5s;
  cursor: pointer;
}

.container:hover {
  transform: translateY(-15px);
}

.outer {
  width: 673px;
  height: 800px;
  background-color: #69a44a;
  border-radius: 50px 50px 20px 20px;
  color: var(--font-white);
  font-size: 24px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.outer h2 {
  margin-top: 22px;
  margin-bottom: 22px;
  text-align: center;
}

.inner {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 673px;
  height: 673px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 50px;
}
