.mainContainer {
  height: 800px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-image: url(../../public/pexels-veeterzy-38136.jpg);
}

.headline {
  color: #ffffff;
  font-size: 76px;
  line-height: 80px;
  letter-spacing: 7.6px;
}

.button {
  color: var(--main-yellow);
  outline: none;
  border: none;
  background: none;
  font-size: 35px;
  line-height: 53px;
  letter-spacing: 2.56 px;
  margin-top: 100px;
}
