.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  width: 1365px;
  margin: 0 auto;
}

.Collapsible {
  border-radius: 10px;
  background-color: rgba(112, 112, 112, 0.1);
  color: #373737;
  cursor: pointer;
  padding: 27px 60px;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
}

.Collapsible p {
  font-size: 24px;
  margin-top: 40px;
  margin-left: 20px;
}

.headline {
  text-align: center;
  font-size: 40px;
  color: #707070;
}

.triggerClosed {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.triggerOpened {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.triggerClosed .arrow,
.triggerOpened .arrow {
  transition: all 0.4s;
}

.triggerOpened .arrow {
  transform: rotate(180deg);
}
