.newsContainer {
  display: flex;
  flex-flow: row nowrap;
  gap: 140px;
  margin: 80px 0;
  overflow: hidden;
}

.bigCardContainer {
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.orgViews {
  font-size: 54px;
  color: #69a44a;
  line-height: 81px;
  text-align: center;
  margin: 80px;
}

.circularCardContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.newsHeaderContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.newsHeader {
  width: 233px;
  height: 53px;
  margin: 80px 0px;
  font-size: 40px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

.newsButton {
  width: 60px;
  height: 60px;
  padding: 18px;
  opacity: 0.2;
  border-radius: 20px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #69a44a;
  margin-right: 80px;
}
